<div id="root">
  <div id="lblHead_title" class="text-center">
    <strong>Electronics and Communication Engineering</strong>
  </div>
  <div id="content" class="text-justify">
    <p>The department of Electronics and Communication Engineering was established during the inception of the institute
      in the year 2010. It offers undergraduate (B. Tech.), and Ph.D programmes in the various fields of Electronics and
      Communication Engineering. The department has been imparting quality education for the students. The UG curriculum
      provides strong base to the students in Electronics and Communication Engineering and provides exposure to the
      latest
      technologies. The course curriculum and various laboratories are being revised from time to time so as to keep
      abreast with the latest developments and emerging technologies.
      <br><br>
      The department is equipped with good teaching and non-teaching staffs. The faculty members have been active in
      teaching and research activities. The major areas of faculty expertise include Atmospheric Science, Remote
      Sensing, Climate and weather studies, Channel models using numerical and analytical methods, RF and Radio wave
      propagation, Antenna Design Wireless Communication, Wireless Networks, Internet of Things, Microwaves, Antennas,
      Biological effects of Microwaves, CAD of Microwaves, Metamaterials, Image Processing, Signal Processing, Pattern
      Recognition, VLSI Image processing , Audio Steganography and watermarking, VLSI Signal Processing, Wireless
      Communication, Signal Processing, Massive MIMO. The research activity of the department includes both fundamental
      research and sponsored projects.
    </p>
  </div>
</div>