<div id="root">
  <div id="lblHead" class="text-center">
    <strong>Newsletter - Pariprashna</strong>
  </div>
  <div id="docview">
    <iframe href="http://nitpy.ac.in/administration/Newsletter/Pdfs/Pariprashna-News-Letter-Jan-2019.pdf"
      src="http://nitpy.ac.in/administration/Newsletter/Pdfs/Pariprashna-News-Letter-Jan-2019.pdf" width="100%"
      height="500px">
    </iframe>
  </div>
  <!--<div id="accordion-wrapper">
    <div id="panels-wrapper">
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <p class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Pariprashna</a>
            </p>
          </div>
          <div id="collapse1" class="panel-collapse collapse">
            <div class="panel-body" *ngFor="let index of report">
              <a id="item" href="{{index.url}}" style="text-decoration: none">{{index.title}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>-->
</div>