<div id="root">
  <div id="lblHead_title" class="text-center">
    <strong>Training and Placement</strong>
  </div>
  <div id="content" class="text-justify row">
    <p>The Training and Placement Cell of NIT Puducherry organizes the Pre-placement training programs and placement activities in coordination with industrial groups/research organisations/amateurs. The cell is headed by Faculty in charge of Training and Placement. Every year, student coordinators are elected from all departments of UG and PG of the final year. The committee works in close coordination with the companies/R&D for the smooth conduct of selection process.</p>
    <br>
    <div id="tnp-office" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <img src="assets/images/T&P_Image.jpg">
    </div>
    <div id="lblHead" class="text-left">
      <strong>Vision</strong>
    </div>
    <ul>
      <li>
        <p>To be the preferred destination for the Corporate Firms, R & D Organisations that recruit Graduates and Post Graduates.</p>
      </li>
    </ul>
    <br>
    <div id="lblHead" class="text-left">
      <strong>Mission</strong>
    </div>
    <ul>
      <li>
        <p>To create infrastructure and academic environment that helps students to get offer from their dream companies. </p>
      </li>
      <li>
        <p>To train the students in a manner that they fit well in the Corporate sector. </p>
      </li>
      <li>
        <p>To collaborate with leading organisations and companies providing a platform to the students to show case their abilities and strengths.</p>
      </li>
    </ul>
    <br>
    <div id="lblHead" class="text-left">
      <strong>Why Recruit at NITPY</strong>
    </div>
    <p>The purpose of an institution of higher learning is to impart/inculcate the best of the academic experience in a chosen/specific/specialization whose pyramidal base, firmly rests on the strong core curriculum in the initial two years coupled with the specialized knowledge in the final two years. From day one, faculty in particular and all other staff emphasize on an all-round growth/development of the student with focus on academics. As a consequence, the interpersonal and career skills (both oral and written) apart from the other required technical skills, are honed resulting in professionally well grown technocrats, ready to face the challenges thereof are available to recruit and hence NIT Puducherry stands among one of the best talent pools in the country.</p>
  </div>
</div>