@import 'colorscheme';
header{
    background-color: $base-color;
    color: $white;
    width: 100%;
    #header_top{
        height: 120px;
        overflow: hidden;
        display: flex;
        a{
            text-decoration: none;
            display: block;
            flex-direction: column;
            #head_wrapper{
                overflow: hidden;
                display: flex;
                justify-content: center;
                height: 100%;
                #logo{
                    margin-left: 1rem;
                    height: 100%;
                    float: left;
                }
                #strong_wrapper{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding-left: 2rem;
                  strong{
                        color: $white;
                        font-size: 18px;
                    }  
                }
            }
        }
    }

    #header_bottom{
        padding-left: 4rem;
        margin-top: 1rem;
        overflow: visible;
        background-color: $navbar-bg;
        nav{
            text-align: left;
            ul{
                list-style-type: none;
                margin: 0;
                padding: 0;
            }
            li{
                display: inline-block;
                a{
                    display: inline-block;
                    padding: 1rem;
                    text-decoration: none;
                    color: $white;
                }
                a:hover{
                    background-color: $navbar-highlight;
                    color: $white;
                }
                .active{
                    background-color: $main-bg-color;
                    color: $black;
                    //border-top-left-radius: 1rem;
                    //border-top-right-radius: 1rem;
                }
                .active:hover{
                    background-color: $main-bg-color;
                    color: $black;
                }
                #dept-dropdown{
                    #drop-content {
                        padding-top: 1rem;
                        display: none;
                        position: absolute;
                        background-color: $navbar-bg;
                        max-width: 512px;
                        z-index: 2;
                        ul{
                            list-style-type: none;
                            margin: 0;
                            padding: 0;
                            li{
                                display: block;
                                a {
                                    float: none;
                                    padding: 1rem;
                                    text-decoration: none;
                                    display: block;
                                    text-align: left;
                                }
                            }
                        }
                    }
                }
                #dept-dropdown:hover #drop-content{
                    display: block;
                }
            }
        }
    }
}