<header>
  <div id="header_top">
    <a routerLink="">
      <div id="head_wrapper">
        <img src="assets/images/logo.png" id="logo">
        <div id="strong_wrapper">
          <strong>
            National Institute of Technology Puducherry, Karaikal<br>
            राष्ट्रीय प्रौद्योगिकी संस्थान पुदुच्चेरी, कारैक्काल<br>
            தேசிய தொழில்நுட்பக்‌ கழகம்‌ புதுச்சேரி , காரைக்கால்‌
          </strong>
        </div>
      </div>
    </a>
  </div>
  <div id="header_bottom">
    <nav>
      <ul>
        <li><a routerLink="/about">About Us</a></li>
        <li><a routerLink="/#">Academics</a></li>
        <li><a routerLink="/#">Administration</a></li>
        <li>
          <div id="dept-dropdown">
            <a routerLink="/departments">Departments</a>
            <div id="drop-content">
              <ul>
                <li><a routerLink="/departments/chemistry">Chemistry</a></li>
                <li><a routerLink="/departments/civil_engineering">Civil Engineering</a></li>
                <li><a routerLink="/departments/computer_science_and_engineering">Computer Science and Engineering</a></li>
                <li><a routerLink="/departments/electrical_and_electronics_engineering">Electrical and Electronics Engineering</a></li>
                <li><a routerLink="/departments/electronics_and_communication_engineering">Electronics and Communtication Engineering</a></li>
                <li><a routerLink="/departments/humanities_and_social_sciences">Humanities and Social Sciences</a></li>
                <li><a routerLink="/departments/mathematics">Mathematics</a></li>
                <li><a routerLink="/departments/mechanical_engineering">Mechanical Engineering</a></li>
                <li><a routerLink="/departments/physics">Physics</a></li>
              </ul>
            </div>
          </div>
        </li>
        <li><a routerLink="/#">Research and Consultancy</a></li>
        <li><a routerLink="/#">Student Welfare</a></li>
        <li><a routerLink="/#">Training and Placement</a></li>
      </ul>
    </nav>
  </div>
</header>
