<footer>
  <div id="wrapper" class="row">
    <div id="quickLinks" class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
      <strong>Quick Links</strong>
      <br><br>
      <ul>
        <li><a routerLink="/facultyLogin">Faculty Login</a></li>
        <li><a routerLink="/gallery">Gallery</a></li>
        <li><a routerLink="/alumniPortal">Alumni Portal</a></li>
        <li><a routerLink="/forms">Forms for Download</a></li>
        <li><a routerLink="/careers">Careers and Job Opportunites</a></li>
        <li><a routerLink="/nirf">NIRF</a></li>
        <li><a routerLink="/nad">NAD</a></li>
      </ul>
    </div>
    <div id="nationalPortals_social" class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
      <div id="nationalPortals">
        <strong>National Portals</strong>
        <br><br>
        <div id="portal_wrapper">
          <div class="row">
            <div class="col-xs-6">
              <a href="https://www.india.gov.in/"><img src="assets/images/govsites/india.gov.png"></a>
            </div>
            <div class="col-xs-6">
              <a href="https://digitalindia.gov.in/"><img src="assets/images/govsites/digindia.png"></a>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <a href="http://www.makeinindia.com"><img src="assets/images/govsites/makeinindia.png"></a>
            </div>
            <div class="col-xs-6">
              <a href="https://data.gov.in/"><img src="assets/images/govsites/data.gov.png"></a>
            </div>
          </div>
        </div>
      </div>
      <div id="social">
        <strong>Follow Us</strong>
        <br><br>
        <div id="icons_wrapper">
          <div id="facebook">
            <a href="{{social.facebook}}"><img src="assets/icons/facebook-light.png"></a>
          </div>
          <div id="twitter">
            <a href="{{social.twitter}}"><img src="assets/icons/twitter-light.png"></a>
          </div>
          <div id="youtube">
            <a href="{{social.youtube}}"><img src="assets/icons/youtube-light.png"></a>
          </div>
          <div id="linkedin">
            <a href="{{social.linkedin}}"><img src="assets/icons/linkedin-light.png"></a>
          </div>
        </div>
      </div>
    </div>
    <div id="contact" class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
      <strong>Contact Us</strong>
      <br><br>
      <p>
        National Institute of Technology Puducherry, Karaikal<br>
        Thiruvettakudi, Karaikal, Puducherry 609609<br><br>
        <b>Email:</b> {{contact.email}}<br><br>
        <b>Website:</b> {{contact.website}}<br><br>
        <b>Phone:</b> {{contact.phone}}<br><br>
        <b>Fax:</b> {{contact.fax}}<br>
      </p>
    </div>
  </div>
  <div id="copyrights">
    <p class="copyright">Copyright  &copy; 2019 Webteam @ NIT Puducherry</p>
  </div>
</footer>