<div id="root">
  <div id="lblHead">
    <strong>B.Tech Admissions</strong>
  </div>
  <div id="mainContent">
    <p><strong>1.Joint Entrance Examination (Main)</strong></p>
    <p>Admission to Undergraduate Engineering Program for the candidates from India at NITs, IIITs, and other Centrally Funded Technical Institutions (CFTI) shall include the performance in the class 12/other Qualifying Examination and in the Joint Entrance Examination, JEE (Main).<br>
        For further details, please visit: <a href="http://jeemain.nic.in">http://jeemain.nic.in</a></p>
    <p><strong>2. Central Seat Allocation Board (CSAB)</strong></p>
    <p>A Central Seat Allocation Board (CSAB) constituted by the Govt. of India coordinates admissions for the candidates from India to UG degree programmes in engineering, technology and architecture based on the All India Rank obtained through class 12/other Qualifying Examination and Joint Entrance Examination, JEE (Main).</p>
    <p><strong>3. Admissions Under DASA Scheme</strong></p>
    <p>Admissions are open for Foreign Nationals / Persons of Indian Origin (PIOs) / Non-Resident Indians (NRIs) under Direct Admission of Students Abroad (DASA) Scheme to National Institutes of Technology (NITs), IIITs, and other premier Technical Institutions.</p>
    <p><strong>4. Joint Seat Allocation Authority (JoSAA)</strong></p>
    <p>The Joint Seat Allocation Authority (JoSAA) 2018 has been set up by the Ministry of Human Resources Development (MHRD) to manage and regulate the joint seat allocation for admissions to 100 Institutes for the academic year 2018-19. This includes 23 IITs, 31 NITs, 23 IIITs, and 23 other Government Funded Technical Institutes (Other-GFTIs). Admission to all the academic programs offered by these Institutes will be made through a single platform.<br>
        For further details, please visit: <a href="http://josaa.nic.in">http://josaa.nic.in</a></p>
    <p><b>For more details regarding admissions to this Institute, please contact:</b></p>
    <p>
      <strong>Dr. Narendran Rajagopalan</strong><br>
        Deputy Center In-Charge (CSAB) <br>
        Mobile : +91-9543382640 <br>
        Phone : +91-4368 265235 (229)<br>
        Email : narendran@nitpy.ac.in
    </p>
  </div>
</div>