<div id="root">
  <div id="wrapper">
    <div id="topWrapper">
      <div id="left">
        <img src="assets/images/blank-profile-pic.jpg">
      </div>
      <div id="right">
        <div id="innerWrapper">
          <p><b>Name :</b>{{faculty.result.name}}</p>
          <p><b>Designation :</b>{{faculty.result.designation}}</p>
          <p><b>No. of Ph.D Scholars Guided :</b>{{faculty.result.scholarsGuided}}</p>
        </div>
      </div>
    </div>
    <div id="bottomWrapper" class="row">
      <div id="educationalQualification" class="item col-xs-12" *ngIf="faculty.result.educationalQualification">
        <div id="heading"><strong>Educational Qualification :</strong></div>
        <div id="content" innerHTML="{{faculty.result.educationalQualification}}"></div>
      </div>
      <div id="proffesionalExperience" class="item col-xs-12" *ngIf="faculty.result.proffesionalExperience">
        <div id="heading"><strong>Proffesional Experience :</strong></div>
        <div id="content" innerHTML="{{faculty.result.proffesionalExperience}}"></div>
      </div>
      <div id="journalPapers" class="item col-xs-12" *ngIf="faculty.result.journalPapers">
        <div id="heading"><strong>Papers Published in Journals :</strong></div>
        <div id="content" innerHTML="{{faculty.result.journalPapers}}"></div>
      </div>
      <div id="confPapers" class="item col-xs-12" *ngIf="faculty.result.confPapers">
        <div id="heading"><strong>Papers Presented in Conferences :</strong></div>
        <div id="content" innerHTML="{{faculty.result.confPapers}}"></div>
      </div>
      <div id="researchProj" class="item col-xs-12" *ngIf="faculty.result.researchProj">
        <div id="heading"><strong>Research Projects Undertaken :</strong></div>
        <div id="content" innerHTML="{{faculty.result.researchProj}}"></div>
      </div>
      <div id="consultProj" class="item col-xs-12" *ngIf="faculty.result.consultProj">
        <div id="heading"><strong>Consultancy Projects Undertaken :</strong></div>
        <div id="content" innerHTML="{{faculty.result.consultProj}}"></div>
      </div>
      <div id="patentsGranted" class="item col-xs-12" *ngIf="faculty.result.patentsGranted">
        <div id="heading"><strong>Patents Granted :</strong></div>
        <div id="content" innerHTML="{{faculty.result.patentsGranted}}"></div>
      </div>
      <div id="adminResponsibilities" class="item col-xs-12" *ngIf="faculty.result.adminResponsibilities">
        <div id="heading"><strong>Administrative responsibilities :</strong></div>
        <div id="content" innerHTML="{{faculty.result.adminResponsibilities}}"></div>
      </div>
      <div id="workOrganised" class="item col-xs-12" *ngIf="faculty.result.workOrganised">
        <div id="heading"><strong>Workshop/Faculty Development Program/Short Term Courses/Conference organized :</strong></div>
        <div id="content" innerHTML="{{faculty.result.workOrganised}}"></div>
      </div>
      <div id="programsConducted" class="item col-xs-12" *ngIf="faculty.result.programsConducted">
        <div id="heading"><strong>National Programs conducted :</strong></div>
        <div id="content" innerHTML="{{faculty.result.programsConducted}}"></div>
      </div>
      <div id="labEstablished" class="item col-xs-12" *ngIf="faculty.result.labEstablished">
        <div id="heading"><strong>New Lab Established :</strong></div>
        <div id="content" innerHTML="{{faculty.result.labEstablished}}"></div>
      </div>
      <div id="booksPublished" class="item col-xs-12" *ngIf="faculty.result.booksPublished">
        <div id="heading"><strong>Text/Reference Books or Book chapters in the books published :</strong></div>
        <div id="content" innerHTML="{{faculty.result.booksPublished}}"></div>
      </div>
      <div id="outreachActivities" class="item col-xs-12" *ngIf="faculty.result.outreachActivities">
        <div id="heading"><strong>Outreach activities :</strong></div>
        <div id="content" innerHTML="{{faculty.result.outreachActivities}}"></div>
      </div>
      <div id="proffesionalMembership" class="item col-xs-12" *ngIf="faculty.result.proffesionalMembership">
        <div id="heading"><strong>Membership in professional bodies :</strong></div>
        <div id="content" innerHTML="{{faculty.result.proffesionalMembership}}"></div>
      </div>
      <div id="googleScholarLink" class="item col-xs-12" *ngIf="faculty.result.googleScholarLink">
        <div id="heading"><strong>Google Scholar Link :</strong></div>
        <div id="content"><a href="{{faculty.result.googleScholarLink}}">{{faculty.result.googleScholarLink}}</a></div>
      </div>
      <div id="profilePageLink" class="item col-xs-12" *ngIf="faculty.result.profilePageLink">
        <div id="heading"><strong>Profile Page Link :</strong></div>
        <div id="content"><a href="{{faculty.result.profilePageLink}}">{{faculty.result.profilePageLink}}</a></div>
      </div>
    </div>
  </div>
</div>