<app-header></app-header>
<div id="root" class="container">
  <div id="lblHead" class="text-center">
    <strong>Departments</strong>
  </div>
  <div id="mainContent">
    <p>There are 9 Departments in National Insititute of Technology, Puducherry.</p>
    <p>Please choose one department to see more.</p>
    <ul>
      <li><a routerLink="chemistry">Chemistry</a></li>
      <li><a routerLink="civil_engineering">Civil Engineering</a></li>
      <li><a routerLink="computer_science_and_engineering">Computer Science and Engineering</a></li>
      <li><a routerLink="electrical_and_electronics_engineering">Electrical and Electronics Engineering</a></li>
      <li><a routerLink="electronics_and_communication_engineering">Electronics and Communications Engineering</a></li>
      <li><a routerLink="humanities_and_social_sciences">Humanities and Social Sciences</a></li>
      <li><a routerLink="mathematics">Mathematics</a></li>
      <li><a routerLink="mechanical_engineering">Mechanical Engineering</a></li>
      <li><a routerLink="physics">Physics</a></li>
    </ul>
  </div>
</div>
<app-footer></app-footer>