#root{
    padding-top: 4rem;
    padding-bottom: 4rem;
    #abt_lbl{
        font-size: 18px;
        margin-bottom: 2rem;
    }
    #txtContent{
        #btech, #mtech, #phd{
            margin-bottom: 2rem;
            text-align: left;
        }
    }
}