<app-header></app-header>
<div id="root">
  <div id="abt_lbl" class="text-center">
    <strong>ABOUT THE INSTITUTE</strong>
  </div>
  <div>
    <strong>ORIGIN</strong><br><br>
    <p>National Institute of Technology, Puducherry (NITPY) situated in 258 acres near village Poovam in Thiruvettakudy, Karaikal, is one of the thirty one National Institutes of Technology. NIT Puducherry was sanctioned by the Government of India in 2009, as part of the Eleventh Five-Year Plan (2007–2012).</p>
    <br>
    <strong>ADMISSION</strong><br><br>
    <p>B.Tech Students are admitted to the Institute based on the marks obtained in the Joint Entrance Examination Mains (JEE – Mains). From the total number of seats available during the admission process, 50% of seats are reserved for the Home-State candidates (Puducherry, Karaikal, Mahe, Yanam, and Andaman Nicobar). The remaining 50% seats are filled on all India quota basis. M.Tech Students are admitted to the Institute based on the marks obtained in the Graduate Aptitude Test in Engineering (GATE). Ph.D. Students are admitted to the institute based on the Institute entrance test and interview.</p>
    <br>
    <strong>COURSES OFFERED</strong><br><br>
    <p>The following B.Tech. courses are offered:</p><br>
    <ul>
      <li>Civil Engineering</li>
      <li>Computer Science and Engineering</li>
      <li>Electrical and Electronics Engineering</li>
      <li>Electronics and Communication Engineering</li>
      <li>Mechanical Engineering</li>
    </ul>
    <br>
    <p>The following M.Tech. courses are offered:</p><br>
    <ul>
      <li>Computer Science and Engineering</li>
      <li>Communication Systems</li>
      <li>Power Electronics</li>
      <li>Design Engineering</li>
    </ul>
    <br>
    <p>Ph.D. programme is offered in the following discipline:</p><br>
    <ul>
      <li>Chemistry</li>
      <li>Civil Engineering</li>
      <li>Computer Science and Engineering</li>
      <li>Electrical and Electronics Engineering</li>
      <li>Electronics and Communication Engineering</li>
      <li>English</li>
      <li>Mathematics</li>
      <li>Mechanical Engineering</li>
      <li>Physics</li>
    </ul>
  </div>
</div>
<app-footer></app-footer>