<div id="root">
    <div id="lblHead">
      <strong>M.Tech Admissions</strong>
    </div>
    <div id="mainContent">
      <p><strong>CCMT</strong></p>
      <p>The Centralized Counseling for M.Tech./ M.Arch./ M.Plan./M.Des. (CCMT-2019) is a platform for candidates to apply for M.Tech./ M.Arch./ M.Plan./M.Des. programmes, based on their GATE score of years 2017, 2018 and 2019, in all National Institute of Technologies (NITs), IIEST Shibpur, 8 IIITs, National Institute of Foundry and Forge Technology (NIFFT) Ranchi, School of Planning and Architecture (SPA) Vijayawada, University of Hyderabad, Central University of Rajasthan, Sant Longowal Institute of Engineering and Technology (SLIET) Longowal, Punjab Engineering College (PEC) Chandigarh and Shri Mata Vaishno Devi University Katra. This centralized system provides a common and convenient platform for online counseling wherein the candidates can fill-in single online application form from their homes and apply to all programmes in all the participating institutions to which they are eligible.</p>
      <p><b>For Further Details, please contact: CCMT Faculty In-Charge</b></p>
      <p>
        <strong>Dr. G. Aghila,</strong><br>
        Professor ,Dept. of CSE,<br>
        National Institute of Technology Puducherry
      </p>
    </div>
  </div>