#root{
    #lblHead{
        margin-bottom: 2rem;
        strong{
            font-size: 24px;
        }
    }
    #content{
        font-size:18px;
    }
    #lblHead_sub{
        margin-bottom: 2rem;
        strong{
            font-size: 18px;
        }
    }
    #fac_box{
        #lblHead{
            margin-bottom: 2rem;
            strong{
                font-size: 18px;
            }
        }
        #image{
            img{
                width:100px;
                border-radius: 50%;
            }
            p{
                padding: 5px;
            }
            #designation{
                font-size: 14px;
            }
        }
    }
    #chairperson{
        padding-bottom: 5rem;
        #left-box{
            #image{
                img{
                    width:150px;
                    border-radius:50%;
                }
            }
        }
        #right-box{
            #lblHead{
                margin-bottom: 2rem;
                strong{
                    font-size: 20px;
                }
            }
            #designation{
                font-size: 18px;
            }
        }
    }
}