<div id="root">
  <div id="lblHead_title" class="text-center">
    <strong>Mechanical Engineering Laboratory</strong>
  </div>
  <div id="content" class="text-justify">
    <div id="lblHead" class="text-left">
      <strong>Dynamics Laboratory</strong>
    </div>
    <br>
    <div id="lblHead" class="text-left">
      <strong>Machine Drawing Laboratory</strong>
    </div>
    <br>
    <div id="lblHead" class="text-left">
      <strong>Measurement and Metrology Laboratory</strong>
    </div>
    <br>
    <div id="lblHead" class="text-left">
      <strong>Metallurgy Laboratory</strong>
    </div>
    <br>
    <div id="lblHead" class="text-left">
      <strong>Strength of Materials Laboratory</strong>
    </div>
    <br>
  </div>
</div>