<app-header></app-header>
<div id="rootWrapper">
  <div id="root" class="container">
    <div id="wrapper">
      <div id="lblHead" class="text-center">
        <strong>NATIONAL ACADEMIC DEPOSITORY</strong>
      </div>
      <div>
        <p>The Ministry of Human Resources Development (MHRD), Government of India, has come up with an innovative initiative, National Academic Depository (NAD) that will digitally issuance, storage, and access all academic certificates issued by academic institutions in the country. </p>
        <p>Under NAD, every student will have a digital account to which all certificates issued by various academic institutions will be credited in digital format. Students will be identified uniquely by their Aadhaar number. NAD will eliminate paper, mitigate the risk of fake and forged certificates and enable online, electronic authentication of certificates by employers and higher education institutions.</p>
        <p>All awards of the student in a single online NAD account. Online verification of all the awards is done with the consent of the student.</p>
        <p>NIT Puducherry signed an agreement with National Securities Depository Limited (NSDL) on "September 2017". NSDL Database Management Limited (NDML) has been appointed as Depository of NAD. NDML is a subsidiary of "National Securities Depository Limited (NSDL)".</p>
        <p>For more details related to student registration, certificate verification etc., please log on to the following links:</p><br>
        <a href="http://nad.gov.in/">http://nad.gov.in/</a><br>
        <a href="https://nad.ndml.in/">https://nad.ndml.in/ </a><br><br>
        <p>To digitally access the certificates, the following are the simple online registration process:</p>
        <ol>
          <li>Click on https://nad.ndml.in, click on Register button.</li>
          <li>Enter Aadhaar Number, provide consent to fetch details from UIDAI.</li>
          <li>Enter OTP sent by UIDAI on your registered mobile no. / email ID.</li>
          <li>Choose User ID. / Password and registration is complete.</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>