<div id="root">
    <div id="lblHead" class="text-center">
      <strong>Student Welfare</strong>
    </div>
    <div class="text-justify">
      <p id="content">The spirit of being in NITPY is the freedom to pursue academics, other personality development extra curricular activities.The best part about NIT PY is that the intake of students is from all over India of different states/culture/language. As most of the students stay in hostel, it gives them a chance to really know about each other. Everyone learns to respect the different lifestyle of each individual. Participation in Extracurricular activities like  NCC, NSS, literary clubs, innovation club, photographic clubs and students' chapters of professional societies give student ample oppurtunity for developing leadership qualities. Students of the campus are regulated by Student Conduct and Disciplinary Code and by Rules and Regulations for Hostel Residents</p>
    </div>
</div>
