#root{
    margin-left: 1rem;
    #lblHead{
        font-size: 18px;
        margin-bottom: 2rem;
        text-align: center;
    }
    #contentWrapper{
        #eventsItem{
            a{
                text-decoration: none;

            }
        }
    }
}