<div id="root">
  <div id="lblHead" class="text-center">
    <strong>Department of Computer Science and Engineering</strong>
  </div>
  <div class="text-justify">
    <p>The Department of Computer Science and Engineering with its cohesive team of faculty members, offers a sound program at the UG & PG level. The curriculum is a blend of the conventional and the radical. It is updated regularly to keep up with the growing demands and the changing trends of the software industry and research laboratories. Core courses include Programming Languages, Computer Architecture, System Software, Networking Technologies and Artificial Intelligence.</p>
  </div>
</div>