<div id="root">
  <div id="lblHead_title" class="text-center">
    <strong>Electrical and Electronics Engineering</strong>
  </div>
  <div id="content" class="text-justify">
    <p>The department of Electrical and Electronics Engineering was established during the inception of the institute in
      the year 2010. It offers undergraduate (B. Tech.), and Ph.D programmes in the various fields of Electrical and
      Electronics Engineering. The department has been imparting quality education for the students. The UG curriculum
      provides strong base to the students in Electrical and Electronics Engineering and provides exposure to the latest
      technologies. The course curriculum and various laboratories are being revised from time to time so as to keep
      abreast with the latest developments and emerging technologies.
      <br><br>
      The department is equipped with good teaching and non-teaching staffs. The faculty members have been active in
      teaching and research activities. The major areas of faculty expertise include Power System Reliability and
      Planning, Alternative Energy Resources in Smart grid Environment, Application of Swarm Intelligent Techniques in
      Power Systems, Partial Discharge studies (testing & simulation), Power Electronic Circuits, Power Electronics
      application on Power System, PID controller, Fractional order controllers, Robust Control, Instrumentation system
      Design, Neural Network Applications to Electrical Drives and Control. The research activity of the department
      includes both fundamental research and sponsored projects.</p>
    
  </div>
</div>