#root{
    #lblHead{
        font-size: 18px;
        text-align: center;
        margin-bottom: 2rem;
    }
    #mainContent{
        #wrapper{
            margin-bottom: 2rem;
        }
        .head{
            display: block;
            margin-bottom: 1rem;
        }
    }
}