<div id="root">
  <div id="lblHead">
    <strong>Academic Programs</strong>
  </div>
  <div id="mainContent">
    <div id="wrapper">
      <strong class="head">B.Tech (8 Semesters)</strong>
      <ul>
        <li>Civil Engineering</li>
        <li>Computer Science Engineering</li>
        <li>Electrical and Electronics Engineering</li>
        <li>Electronics and Communication Engineering</li>
        <li>Mechanical Engineering</li>
      </ul>
    </div>
    <div id="wrapper">
      <strong class="head">M.tech (4 Semesters)</strong>
      <ul>
        <li>Power Electronics</li>
        <li>Communication Systems</li>
        <li>Computer Science and Engineering</li>
        <li>Machine Design</li>
      </ul>
    </div>
    <div id="wrapper">
      <strong class="head">Ph.D</strong>
      <ul>
        <li>Chemistry</li>
        <li>Civil Engineering</li>
        <li>Computer Science Engineering</li>
        <li>Electrical and Electronics Engineering</li>
        <li>Electronics and Communication Engineering</li>
        <li>English</li>
        <li>Mathematics</li>
        <li>Mechanical Engineering</li>
        <li>Physical Education</li>
        <li>Physics</li>
      </ul>
    </div>
      
      
  </div>
</div>