<div id="root">
    <div id="lblHead_title" class="text-center">
      <strong>Physics</strong>
    </div>
    <div id="content" class="text-justify">
      <p>The Department of Physics is one of the pioneering departments of the institution and is equipped with
          strongly motivated and dedicated faculty members. It was established in 2010 and has always contributed to the
          vision of the institute in striving for excellence in teaching and research activities. The department plays an
          important role to hone the students with a strong basic concept of Physics of various B.Tech. and M.Tech.
          Programmes of the institute and flare up a passion of enquiry within them. The department also offers Ph.D.
          programmes in various fields of Physics and interdisciplinary areas. Its objective is to endeavour for
          excellence in research and to impart high quality education, so as to transform the young technocrats and
          scholars into competent and motivated professionals.</p>
      
    </div>
  </div>
