<div id="root">
  <div id="lblHead" class="text-center">
    <strong>Department of Physics</strong>
  </div>
  <div class="text-justify">
    <p>The Department of Chemistry was established in the year 2013 and presently offering regular academic courses for the undergraduate engineering and PhD students in the field of basic and applied chemistry. The department has the state of the art instrumentation facilities to carry out basic and advanced research studies. The research activities in the department are generously supported by the external national funding agencies. At present few research projects were sponsored by DST-SERB and DST-INSPIRE, New Delhi are in progress on the development of Advanced Materials for electro-analytical and energy applications. The department also has collaborative research programs with national and international universities/institutes.</p>
  </div>
</div>