<div id="root">
    <div id="lblHead" class="text-center">
      <strong>Administration</strong>
    </div>
    <div class="text-justify">
      <p id="content">The NITs were carved out of Regional Engineering Colleges across India and are now the fully funded institutions under the Central Government with Deemed to be University status. The move was intended to make the institutions centers of excellence and being developed as autonomous and flexible academic institutions of excellence to meet the sweeping changes taking place in the industrial environment in post liberalized India and also the rapidly changing scene of technical education globally. NIT Puducherry is one among the 31 NITs and its basic structure of organisation, functions and powers of the Institute are briefed in the `MOA of the Institute. A large number of rules, regulations, ordinances, policy decisions etc. have been formulated by the Board of Governors, Senate and other authorities of the Institute for regulating the day-to-day work of the expanded activities of the Institute.</p>
    </div>
  </div>