<div id="root">
    <div id="wrapper">
      <form #FacEditForm="ngForm" (ngSubmit)="updateFacDetails()">
        <div id="profilePicture" class="row">
          <div class="text-right col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
            <strong>Profile Picture :</strong>
          </div>
          <div class="form-group col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
            <input type="file" [(ngModel)]="faculty.result.profilePicture" name="profilePicture">
          </div>
        </div>
        <div id="name" class="row">
          <div class="text-right col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
            <strong>Name :</strong>
          </div>
          <div class="form-group col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
            <input class="form-control" type="text" [(ngModel)]="faculty.result.name" name="name">
          </div>
        </div>
        <div id="scholarsGuided" class="row">
          <div class="text-right col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
            <strong>No. of Ph.D Scholars Guided :</strong>
          </div>
          <div class="form-group col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
            <input class="form-control" type="number" [(ngModel)]="faculty.result.scholarsGuided" name="scholarsGuided">
          </div>
        </div>
        <div id="educationalQualification" class="row">
          <div class="text-right col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
            <strong>Educational Qualification :</strong>
          </div>
          <div class="form-group col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
            <quill-editor [styles]="editorStyles" [modules]="editorConfig" [(ngModel)]="faculty.result.educationalQualification" name="educationalQualification"></quill-editor>
          </div>
        </div>
        <div id="proffesionalExperience" class="row">
          <div class="text-right col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
            <strong>Proffesional Experience :</strong>
          </div>
          <div class="form-group col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
            <quill-editor [styles]="editorStyles" [modules]="editorConfig" [(ngModel)]="faculty.result.proffesionalExperience" name="proffesionalExperience"></quill-editor>
          </div>
        </div>
        <div id="journalPapers" class="row">
          <div class="text-right col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
            <strong>Papers Published in Journals :</strong>
          </div>
          <div class="form-group col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
            <quill-editor [styles]="editorStyles" [modules]="editorConfig" [(ngModel)]="faculty.result.journalPapers" name="journalPapers"></quill-editor>
          </div>
        </div>
        <div id="confPapers" class="row">
          <div class="text-right col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
            <strong>Papers Presented in Conferences :</strong>
          </div>
          <div class="form-group col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
            <quill-editor [styles]="editorStyles" [modules]="editorConfig" [(ngModel)]="faculty.result.confPapers" name="confPapers"></quill-editor>
          </div>
        </div>
        <div id="researchProj" class="row">
          <div class="text-right col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
            <strong>Research Projects Undertaken :</strong>
          </div>
          <div class="form-group col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
            <quill-editor [styles]="editorStyles" [modules]="editorConfig" [(ngModel)]="faculty.result.researchProj" name="researchProj"></quill-editor>
          </div>
        </div>
        <div id="consultProj" class="row">
          <div class="text-right col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
            <strong>Consultancy Projects Undertaken :</strong>
          </div>
          <div class="form-group col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
            <quill-editor [styles]="editorStyles" [modules]="editorConfig" [(ngModel)]="faculty.result.consultProj" name="consultProj"></quill-editor>
          </div>
        </div>
        <div id="patentsGranted" class="row">
          <div class="text-right col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
            <strong>Patents Granted :</strong>
          </div>
          <div class="form-group col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
            <quill-editor [styles]="editorStyles" [modules]="editorConfig" [(ngModel)]="faculty.result.patentsGranted" name="patentsGranted"></quill-editor>
          </div>
        </div>
        <div id="adminResponsibilities" class="row">
          <div class="text-right col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
            <strong>Administrative responsibilities :</strong>
          </div>
          <div class="form-group col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
            <quill-editor [styles]="editorStyles" [modules]="editorConfig" [(ngModel)]="faculty.result.adminResponsibilities" name="adminResponsibilities"></quill-editor>
          </div>
        </div>
        <div id="workOrganised" class="row">
          <div class="text-right col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
            <strong>Workshop/Faculty Development Program/Short Term Courses/Conference organized :</strong>
          </div>
          <div class="form-group col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
            <quill-editor [styles]="editorStyles" [modules]="editorConfig" [(ngModel)]="faculty.result.workOrganised" name="workOrganised"></quill-editor>
          </div>
        </div>
        <div id="programsConducted" class="row">
          <div class="text-right col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
            <strong>National Programs conducted :</strong>
          </div>
          <div class="form-group col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
            <quill-editor [styles]="editorStyles" [modules]="editorConfig" [(ngModel)]="faculty.result.programsConducted" name="programsConducted"></quill-editor>
          </div>
        </div>
        <div id="labEstablished" class="row">
          <div class="text-right col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
            <strong>New Lab Established :</strong>
          </div>
          <div class="form-group col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
            <quill-editor [styles]="editorStyles" [modules]="editorConfig" [(ngModel)]="faculty.result.labEstablished" name="labEstablished"></quill-editor>
          </div>
        </div>
        <div id="booksPublished" class="row">
          <div class="text-right col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
            <strong>Text/Reference Books or Book chapters in the books published :</strong>
          </div>
          <div class="form-group col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
            <quill-editor [styles]="editorStyles" [modules]="editorConfig" [(ngModel)]="faculty.result.booksPublished" name="booksPublished"></quill-editor>
          </div>
        </div>
        <div id="outreachActivities" class="row">
          <div class="text-right col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
            <strong>Outreach activities :</strong>
          </div>
          <div class="form-group col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
            <quill-editor [styles]="editorStyles" [modules]="editorConfig" [(ngModel)]="faculty.result.outreachActivities" name="outreachActivities"></quill-editor>
          </div>
        </div>
        <div id="proffesionalMembership" class="row">
          <div class="text-right col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
            <strong>Membership in professional bodies :</strong>
          </div>
          <div class="form-group col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
            <quill-editor [styles]="editorStyles" [modules]="editorConfig" [(ngModel)]="faculty.result.proffesionalMembership" name="proffesionalMembership"></quill-editor>
          </div>
        </div>
        <div id="googleScholarLink" class="row">
          <div class="text-right col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
            <strong>Google Scholar Link :</strong>
          </div>
          <div class="form-group col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
            <input class="form-control" type="url" [(ngModel)]="faculty.result.googleScholarLink" name="googleScholarLink">
          </div>
        </div>
        <div id="profilePageLink" class="row">
          <div class="text-right col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
            <strong>Profile Page Link :</strong>
          </div>
          <div class="form-group col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
            <input class="form-control" type="url" [(ngModel)]="faculty.result.profilePageLink" name="profilePageLink">
          </div>
        </div>
        <div class="text-right">
          <button type="submit" class="btn btn-success" [disabled]="!FacEditForm.form.valid">Save</button>
        </div>
      </form>
    </div>
  </div>