<div id="root">
  <div id="lblHead">
    <strong>Ph.D Admissions</strong>
  </div>
  <div id="mainContent">
    <p>National Institute of Technology Puducherry(NITPy) offers research programmes leading to the award of Ph.D. degree. The Ph.D. programme is broad based and involves course credits requirement and a research Thesis. The institute also encourages research in interdisciplinary areas through a system of joint supervision and provides excellent opportunities for such programs. The institute undertakes sponsored research and development projects from industries and other organizations of the public as well as private sectors.</p>
    <p>Ph.D. degree programme is offered in various academic centers as follows:</p>
    <div class="ml-3">
      <ol>
        <li><p>Civil Engineering</p></li>
        <li><p>Computer Science Engineering</p></li>
        <li><p>Electrical and Electronics Engineering</p></li>
        <li><p>Electronics and Communication Engineering</p></li>
        <li><p>Mechanical Engineering</p></li>
        <li><p>Chemistry</p></li>
        <li><p>Physics</p></li>
        <li><p>Mathematics</p></li>
        <li><p>English</p></li>
        <li><p>Physical Education</p></li>
      </ol>
    </div>
  </div>
</div>