<div id="root">
  <div id="lblHead_title" class="text-center">
    <strong>Electrical and Electronics Engineering Laboratory</strong>
  </div>
  <div id="content" class="text-justify">
    <p>The department has well equipped laboratories. The various departmental laboratories have been strengthened and
      modernized by procuring state of art equipments. The lab facilities and the infrastructure are regularly upgraded
      with respect to the upcoming new technologies. The major Laboratories are of the following:
    </p>
    <br>
    <div id="lblHead" class="text-left">
      <strong>Devices and Networks Laboratory</strong>
    </div>
    <p>This laboratory is well equipped with Cathode Ray Oscilloscopes, Function Generators cum DC power supply,
      Multiple Power Supplies, Analog Ammeters, Analog Voltmeters, Decade Resistance Boxes, Decade Capacitance Boxes,
      Decade Inductance Boxes, Digital Multi-meters, Transformers, Breadboards and various discrete components to
      conduct experiment on the Devices and Networks theory.
    </p>
    <br>
    <div id="lblHead" class="text-left">
      <strong>Digital Electronics Laboratory</strong>
    </div>
    <p>This laboratory is well equipped with Multiple Power Supplies, 1Hz Clock generators, Breadboards and various
      Digital IC’s (7400, 7402, 7404, 7408, 7432, 7476, 74 83, 7485, 7486, 7473, 74153, 74155, etc.) to verify the
      sequential and combinational circuits. Digital IC tester is provided to check the IC’s working conditions.
    </p>
    <br>
    <div id="lblHead" class="text-left">
      <strong>Electronics Circuits Laboratory</strong>
    </div>
    <p>This laboratory is well equipped with Cathode Ray Oscilloscopes, Function Generators cum DC power supply,
      Multiple Power Supplies Analog Ammeters, Analog Voltmeters, Decade Resistance Boxes, Decade Capacitance Boxes,
      Decade Inductance Boxes, Digital Multi-meters, Transformers, Breadboards and various discrete components (PNP
      BJTs, NPN BJTs, UJTs, FETs) to conduct experiments on Electronics Circuits Theory.
    </p>
    <br>
    <div id="lblHead" class="text-left">
      <strong>Microprocessor and Microcontroller Laboratory</strong>
    </div>
    <p>This laboratory is well equipped with the 8085, 8086, 8051 trainer kits and various interfacing boards and
      devices. This laboratory will enable the undergraduate students to learn the basic programming techniques using
      microprocessors (8085 & 8086) and microcontroller (8051).
      <br>
      8085 Microprocessor Trainer Kits, 8086 Microprocessor Trainer Kits, 8051 Microcontroller Trainer Kits, 8279
      Keyboard/ Display Controllers, 8155 I/O Timer Boards, 8255 Programmable peripheral Boards, 8259 Programmable
      Interrupt Controller Boards, 8257 Programmable DMA controller Boards, 8251 Programmable communication peripheral
      Boards, 8253 Programmable Interval Timer Boards, Elevator Control Modules, Motor Drive Modules, PWM based voltage
      Regulators, Stepper Motor Boards, DC Motor Boards, ADC Boards, DAC Boards, LED Matrix Display Boards, Traffic
      Light Control Boards, Temperature Measurement peripheral Boards, Elevator Simulator Boards, Thumb wheel field
      switch Boards, Relay &Opto-Coupler Boards and Seven segment display Boards are available.
    </p>
    <br>
    <div id="lblHead" class="text-left">
      <strong>Analog Integrated Circuits Laboratory</strong>
    </div>
    <p>This laboratory is well equipped with Cathode Ray Oscilloscopes, Function Generators cum DC power supply,
      Multiple Power Supplies, Analog Ammeters, Analog Voltmeters, Decade Resistance Boxes, Decade Capacitance Boxes,
      Decade Inductance Boxes, Digital Multi-meters, Transformers, Breadboards, various discrete components, Transistors
      and Analog ICs (IC741, IC555) to conduct experiment on Analog Integrated Circuits Theory.

    </p>
    <br>
    <div id="lblHead" class="text-left">
      <strong>Digital Signal Processing Laboratory</strong>
    </div>
    <p>This laboratory is furnished with computers with Licensed MATLABsoftware and DSP trainer kits. Simulation
      experiments are performed using MATLABsoftware. Hardware experiments are conducted in fixed point (TMS320VC5416
      DSP)DSP Trainer Kits with MATLAB-SIMULINK compatibility.
    </p>
    <br>
    <div id="lblHead" class="text-left">
      <strong>Communication Engineering Laboratory</strong>
    </div>
    <p>This laboratory is well equipped with Cathode Ray Oscilloscopes, Digital Oscilloscopes, Function Generators cum
      DC power supply, Multiple Power Supplies, Decade Resistance Boxes, Decade Capacitance Boxes, Decade Inductance
      Boxes, Digital Multi-meters, Transformers, Breadboards, various discrete components, Transistors, Analog ICs
      (IC741, IC555) and different types of analog modulator and demodulator ICs to conduct experiment on Communication
      Engineering. Analog IC tester is available for checking the working conditions of Analog ICs. Simulation
      experiments are performed using MATLABsoftware.
    </p>
    <div id="lblHead" class="text-left">
      <strong>VLSI Design Laboratory</strong>
    </div>
    <p>This laboratory is furnished with computers, Xilinx Web-pack software and FPGA Boards.Simulation experiments are
      carried out using MULTISIM and Xilinx software. Hardware experiments are performed using SPARTRAN 3E & SPARTAN 6
      FPGA trainer kits via Xilinx software.
    </p>
    <div id="lblHead" class="text-left">
      <strong>Fiber Optic Communication Laboratory</strong>
    </div>
    <p>This laboratory is equipped with Basic Fiber Optic Communication Trainer Kits (FOCTK), Advanced FOCTK, Laser
      Trainer Kits (Transmitter and Receiver), Power meters, Digital Storage Oscilloscopes and Connectorizationcum
      Splicing Kits. Audio, voice and data signals of different wavelengths are transmitted/received using LED/Laser
      sources via Glass/Plastic Fiber cables. Different types of loses while setting up the linkare studied. Simulation
      experiments are performed using MATLABsoftware.

    </p>
    <div id="lblHead" class="text-left">
      <strong>Microwave Laboratory</strong>
    </div>
    <p>This laboratory is well equipped with all sorts of WR90 waveguide components, sources, detectors, VSWR meters,
      S-Band Microwave Integrated Circuit Trainers, Transmission Line Trainer kits and Digital Storage Oscilloscopes. It
      helps the students to better understand the theory concepts. Klystron Power Supplies, Klystron Mount with Klystron
      tubes 2k25, Gunn Power Supplies, Gunn Oscillators, PIN Modulators, VSWR Meters, Frequency Meters, Slotted
      sections, Radiation Pattern Turn Tables, Tripod Stands, Waveguide Twists, E-Plane Bend, H-Plane Bend, Wave guide
      Bend 90 degree, Isolators, T-Circular, Y-Circulator, E-Plane Tee, H-Plane Tee, Magic Tee, Multi Hole Directional
      Couplers 3 dB, 10 dB and 20 dB, Cross Directional Couplers 20 dB, Variable Attenuators 20 dB, Fixed Attenuator 3
      dB, 6 dB and 10 dB, Phase Shifters, Waveguide Cavities, Fixed Shorts, Movable shorts, Precision Movable Shorts,
      Slide Screw Tuners, Matched Terminations, Tunable Probes, Detector Mounts, Standard Gain Horn Antenna, Pyramidal
      Horn Antenna, Slotted Broad-wall Antenna, Slotted Narrow-wall Antenna, Dielectric Antenna, E-Plane Sectoral Horn
      Antenna, H-Plane Sectoral Horn Antenna, Parabolic Dish, Waveguide Stands, Cooling Fans, Coax to W/G Adaptor with
      cable N to N, BNC to BNC cables, BNC to Open cables and N-type to TNC Cables are available in WR90 waveguide
      setup.
      <br>
      In S-Band Microwave Integrated Circuits Trainer Kit Microwave Solid State Source, VSWR Meter and MIC Components
      such as 50Ω Micro-strip Line,Parallel line Directional Coupler,Wilkinson Power Divider,Branch line Directional
      Coupler, Attenuator(3dB), Low Pass Filter,Band Pass Filter,Band Stop Filter,Ring Resonator,Rat-Race Hybrid Ring
      Coupler,MIC Patch Antennas, Yagi Antenna,Dipole Antenna,Transmitting and Receiving Mast for fixing antenna, MIC
      Amplifier, Slotted section Measuring line, RF Switch (PIN Modulator), Local Oscillator – S-Band, RF Mixer,
      Circulator, Isolator, Matched Loads, Short,Coaxial detector,Micro-strip Directional Coupler,SMA to SMA Adapters
      (Both male &female),SMA(male) connector fitted cables and SMA (Male) to BNC (Female) adaptor are available.

    </p>
    <div id="lblHead" class="text-left">
      <strong>Robotics Club</strong>
    </div>
    <p>Robotics Club provides a facility with the hardware kits to develop the student’s project ideas. The Robotics
      Club is trying to improve the participation of NITPY in technical festival’s Robotics competitions organized in
      IITs and NITsround the year.It is achieving this by encouraging and assisting students to participate in such
      events.It has members who, apart from having good experience in Robotics, also get an opportunity to conduct
      workshops on Robotics in NITPY technical fests, Gyanith’ Tech Fest 2017.

    </p>

  </div>
</div>