<div id="root" >
    <div id="lblHead_title" class="text-center" >
        <strong>List Of Committees</strong>
    </div>
    <div id="fp-table" class="col-xs-6 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <table id="table-style" class="table table-bordered table-condensed" >
        <tr >
          <th class="text-center" id="sno">S.no.</th>
          <th class="text-center">Committee</th>
          <th class="text-center">Chairperson</th>
          <th class="text-center">E-mail ID</th>
          <th  id="phone" class="text-center">Phone<br>04368-265235</th>
        </tr>
        <tr *ngFor="let index of person">
          <td id ="sno"class="text-center">{{index.no}}</td>
          <td class="text-center">{{index.committee}}</td>
          <td class="text-center">{{index.name}}<br>{{index.designation}}<br>Department of {{index.dept}}</td>
          <td class="text-center">{{index.mail}}</td>
          <td id="phone" class="text-center">{{index.phone}}</td>
        </tr>
      </table>
    </div>
</div>
