<div id="root">
  <div id="lblHead_title" class="text-center">
    <strong>Humanities and Social Sciences</strong>
  </div>
  <div id="content" class="text-justify">
    <p>The Department of Humanities NIT Puducherry, established in 2014, presently offers courses only on English
      Language and Literature, and operates with a macro-objective to offer the engineers-in-the-making ample exposure
      to humanities so that they acquire ‘well-rounded’ personalities and holistic development. At a micro-level,
      through various courses offered on general and special purpose communication, the department aims to play a
      pivotal role in strengthening and nurturing the soft skills and employability of the students, and accelerate the
      research temper in them.
      <br>
      The department further strives to inculcate in the students, a sense and appreciation to choose the best thing
      prevalent in the world, through sensitizing them with language, literature, life, and aesthetics. When coupled
      with social outlook and perception, which humanities imparts to the NIT Puducherry, the department occupies and
      enjoys a unique niche within the community by enriching the students with societal concern, moral responsibility,
      ethical values, communicative prowess and aesthetic sensibility.
      <br>
      Apart from offering Ph.D. programme in English, the department offers several courses under B.Tech. Programme in
      the form of Functional English, Technical English, and Corporate Communication, thereby making the students
      efficient communicators in a globalized society and a corporate work space.
      <br>
      The department's present research endeavours encompass the vast and interdisciplinary areas within Literary
      Studies, Linguistics and Language Teaching. It encourages knowledge dissemination through quality publications,
      conferences and seminars. The department promotes and harnesses a spirit of innovative enquiry, out-of-the-box
      thinking and scientific freedom coupled with aesthetic sensibility.
      <br>
    </p>
    <br>
    <br>
    <div id="lblHead" class="text-left">
      <strong>Vision</strong>
    </div>
    <ul>
      <li>
        <p>To imbibe in the students, the humane aspect of technology and thereby aiming to nurture and infuse, a sense
          of scientific technical fervour in them, through the appreciation of language, literature, life, ethics and
          aesthetics.
        </p>
      </li>
    </ul>
    <br>
    <div id="lblHead" class="text-left">
      <strong>Mission</strong>
    </div>
    <ul>
      <li>
        <p>To appreciate the intricate nuances of different aspects of life through Language and Literature. </p>
      </li>
      <li>
        <p>To equip the technical studentswith essential skills to develop them holistically. </p>
      </li>
      <li>
        <p> To enrich the technical education by enhancing the student potential intellectally. </p>
      </li>
      <li>
        <p> To contribute to the nation and society by inculcating societal and humanitarian concerns amongst students. </p>
      </li>
      <li>
        <p> To engage in innovative research endeavours that helps build an inclusive society and nation. </p>
      </li>
      <li>
        <p> To engage in dedicated research endeavour and contribute to nation’s rising stock of knowledge. </p>
      </li>
    </ul>
  </div>
</div>