<app-header></app-header>
<div id="rootWrapper">
  <div id="root">
    <div class="">
      <div id="slideshow">
        <div id="carousel-wrapper">
            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="carouselOptions">
              <div ngxSlickItem clas="slide item" *ngFor="let image of slides">
                <img class="slide-image" data-src="{{image.image}}">
              </div>
            </ngx-slick-carousel>
        </div>
      </div>
    </div>
    <div id="homeContent" class="container container-fluid">
      <div id="carousel_wrappers" class="row">
        <div id="news" class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="content-heading">
              <strong>News and Announcements</strong><a routerLink="news">See All</a><hr>
            </div>
          <div class="content-wrapper">
            <div id="news-content">
              <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slickConfig">
                <div id="news-item" ngxSlickItem clas="slide" *ngFor="let index of news">
                  <p>{{index.content}}<a *ngIf="index.url" href="{{index.url}}">More...></a></p><hr class="light">
                </div>
              </ngx-slick-carousel>
            </div>
          </div>
        </div>
        <div id="events" class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
          <div class="content-heading">
            <strong>Events</strong><a routerLink="events">See All</a><hr>
          </div>
          <div class="content-wrapper">
            <div id="events-content">
                <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slickConfig">
                <div id="events-item" ngxSlickItem clas="slide" *ngFor="let index of events">
                  <u>{{index.date}}</u>
                  <p>{{index.content}}<a *ngIf="index.url" href="{{index.url}}">More...></a></p><hr class="light">
                </div>
              </ngx-slick-carousel>
            </div>
          </div>
        </div>
        <div id="tenders" class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="content-heading">
              <strong>Tenders and Quotations</strong><a routerLink="tenders">See All</a><hr>
            </div>
          <div class="content-wrapper">
            <div id="tenders-content">
                <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slickConfig">
                <div id="tenders-item" ngxSlickItem clas="slide" *ngFor="let index of tenders">
                  <p>{{index.content}}<a href="{{index.url}}">More...></a></p>
                  <p *ngIf="index.deadline">Deadline: <u>{{index.deadline}}</u></p><hr class="light">
                </div>
              </ngx-slick-carousel>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>