@import 'colorscheme';
#root{
    width: 100%;
    #slideshow{
        /*height: 384px;*/
        overflow: hidden;
        .item {
            background-image: url(/assets/images/loader.svg);
            background-repeat: no-repeat;
            background-size: 10%;
            background-position: center center;
        }
        .slide-image {
            height: 70vh;
            width: 70vw;
            margin-left: 10px;
        }
    }
    #homeContent{
        display: flex;
        flex-direction: column;
        padding: 2rem;
        strong{
            font-size: 22px;
        }
        hr{
            margin-top: 10px;
            margin-bottom: 20px;
            border: 1px solid $line;
        }
        .light{
            border: 0.5px solid $line-light;
        }
        .content-heading{
            a{
                display: block;
                float: right;
            }
        }
        .content-wrapper{
            width: 100%;
            height: auto;
        }
        #news, #events, #tenders{
            padding: 1rem;
        }
    }
}

@media screen and (max-width:1024px)
{
    #root{
        #slideshow{
            overflow: hidden;
            .slide-image{
                height: 30vh;
            }
        }
    }
    
}