<div id="root">
  <div id="lblHead_title" class="text-center">
    <strong>Computer Science and Engineering</strong>
  </div>
  <div id="content" class="text-justify">
    <p>The Department of Computer Science and Engineering with its cohesive team of faculty members, offers a sound
      program at the UG & PG level. The curriculum is a blend of the conventional and the radical. It is updated
      regularly to keep up with the growing demands and the changing trends of the software industry and research
      laboratories. Core courses include Programming Languages, Computer Architecture, System Software, Networking
      Technologies and Artificial Intelligence.</p>
    <br>
    <br>
    <div id="lblHead" class="text-left">
      <strong>Vision</strong>
    </div>
    <ul>
      <li>
        <p>To promote Research and Development in the frontier areas of Information Technology.</p>
      </li>
      <li>
        <p>To generate Competent Professionals to become part of the Industry and Research Organizations at the National and International levels.</p>
      </li>
      <li>
        <p>To provide necessary strengths to enable the Students to Innovate and become Entrepreneurs.</p>
      </li>
    </ul>
    <br>
    <div id="lblHead" class="text-left">
      <strong>Courses Offered</strong>
    </div>
    <ul>
      <li>
        <p>B.Tech Computer Science and Enginnering</p>
      </li>
      <li>
        <p>M.Tech Computer Science and Engineering</p>
      </li>
      <li>
        <p>Ph.D Computer Science and Engineering</p>
      </li>
    </ul>
  </div>
</div>