<div id="root">
  <div id="lblHead_title" class="text-center">
    <strong>Electrical and Electronics Engineering Laboratory</strong>
  </div>
  <div id="content" class="text-justify">
    <p>The department has well equipped laboratories. The various departmental laboratories have been strengthened and
      modernized by procuring state of art equipments. The lab facilities and the infrastructure are regularly upgraded
      with respect to the upcoming new technologies. The major Laboratories are of the following:
    </p>
    <br>
    <div id="lblHead" class="text-left">
      <strong>Electrical Machines Lab</strong>
    </div>
    <p>The electrical Machines Lab is well equipped various electrical machines namely DC machines, AC rotating
      machines, transformers and special machines. The lab provides good platform/forum to enable the students to
      acquire practical knowledge on the electrical machines.
    </p>
    <br>
    <div id="lblHead" class="text-left">
      <strong>Electronics Lab</strong>
    </div>
    <p>The electronics lab is well equipped with equipments/components to carry out experiments by the students. The
      various labs conducted in electronics lab as per the curriculum are of the following:
    </p>
    <ul>
      <li>Circuits and Digital Lab</li>
      <li>Electronic Devices Lab</li>
      <li>Integrated Circuits Lab</li>
      <li>Analog Electronics Lab</li>
    </ul>
    <br>
    <div id="lblHead" class="text-left">
      <strong>Power System Simulation Lab</strong>
    </div>
    <p>The power system simulation lab provides good platform for the students to emulate and learn the practical
      aspects on power system especially load flow studies, fault analysis through various simulation softwares namely
      MALTLAB, POWER WORLD.
    </p>
    <br>
    <div id="lblHead" class="text-left">
      <strong>Power Electronics Lab</strong>
    </div>
    <p>The power electronics lab provides the good forum for the students to learn the operation of various power
      electronics converter through simulation and experimental set up. The power electronics lab is also well equipped
      with DC and AC motor drive hardware set up. The set up can be used to understand the applications of power
      electronics in speed control of motor drives.
    </p>
    <br>
    <div id="lblHead" class="text-left">
      <strong>Control and Instrumentation Lab</strong>
    </div>
    <p>The Control and Instrumentation Lab is well equipped with many trainer kits. The major trainer kits include Elvis
      kit, LVDT trainer kit, Strain Gauge Trainer Kit, Differential pressure transducer kit, thermocouple, thermistor
      and RTD hardware set up, PID controller trainer kit, DC Servo motor trainer kit. The lab makes the students to
      acquire good knowledge in COntrol and Instrumentation.
    </p>
    <br>
    <div id="lblHead" class="text-left">
      <strong>Research Lab</strong>
    </div>
    <p>The research lab is well equipped with solar panels, wind turbines, power converters, FPGA controllers. It
      provides good platform to carry out research in applications of power electronics in renewable energy systems.
    </p>
  </div>
</div>