<div id="root">

  <div class="row">
    <div id="lblHead_title" class="text-center">
      <strong><b>Associate Dean</b></strong>
    </div>
    <div id="fac_box" class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 " *ngFor="let index of research">
      <div id="lblHead" class="text-center">
        <strong>Research</strong>
      </div>
      <div id="image" class="text-center">
        <img src="{{index.pic}}">
        <div id="lblHead" class="text-center">
          <p><strong>{{index.name}}</strong> </p>
        </div>
        <div id="designation" class="text-center">
          <p><strong>Associate Dean - Research</strong></p>
        </div>
      </div>
      <div id="Profile">
        <div id="details">
          <table>
            <tr class="text-left">
              <p><strong>Mail : </strong>{{index.mail}}</p>
              <p><strong>Phone : </strong>{{index.phone}}</p>
              <p>
                <strong>Responsibilities : </strong>
                <br>Sponsored Research Project
                <br>Recruitment of Project Staffs
                <br>Fellowships & Travel Assistance
                <br>National & International Conference
                <br>Symposium and Seminars etc
                <br>Central Research Facilities
              </p>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div id="fac_box" class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 " *ngFor="let index of consultancy">
      <div id="lblHead" class="text-center">
        <strong>Consultancy</strong>
      </div>
      <div id="image" class="text-center">
        <img src="{{index.pic}}">
        <div id="lblHead" class="text-center">
          <p><strong>{{index.name}}</strong> </p>
        </div>
        <div id="designation" class="text-center">
          <p><strong>Associate Dean - Consultancy</strong></p>
        </div>
      </div>
      <div id="Profile">
        <div id="details">
          <table>
            <tr class="text-left">
              <p><strong>Mail : </strong>{{index.mail}}</p>
              <p><strong>Phone : </strong>{{index.phone}}</p>
              <p>
                <strong>Responsibilities:</strong>
                <br>Consultancy work
                <br>Entrepreneurship Cell
                <br>Industry Institute Interaction
                <br>Industry Sponsored M.Tech. Program
                <br>MOUs
                <br>Patents
              </p>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>